# Bun
node_modules/
bun.lockb

# Output
out/
dist/
*.tgz

# Environment files
.env.keys

# Code coverage
coverage/
*.lcov

# Logs
logs/
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Caches
.eslintcache
.cache/
*.tsbuildinfo

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Temporary files
tmp/
temp/

certs/
